.main-container {
  padding: 0 1.2rem;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #666666;
  margin: 1rem;
  font-weight: 500;
}

.breadcrumb-container {
  margin: 1.3rem 0;
  font-size: 0.9rem;
}

.breadcrumb-container a {
  text-decoration: none;
  color: var(--dark-purple);
  font-weight: 600;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(201, 201, 201, 0.747);
}

@media (min-width: 768px) {
  .main-container {
    padding: 0 5.5rem;
  }
}