.breadcrumb-container {
  margin: 1.25rem 0;
  font-size: 0.9rem;
}

.breadcrumb-container a {
  text-decoration: none;
  color: var(--dark-purple);
  font-weight: 400;
}

.breadcrumb-container a:last-of-type, .breadcrumb-container span {
  font-weight: 600;
}

.breadcrumb-separator {
  color: var(--dark-purple);
  margin: 0 0.3rem;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: rgba(201, 201, 201, 0.747);
}