.breadcrumb-container {
  margin: 1.3rem 0;
  font-size: 0.9rem;
}

.breadcrumb-container a {
  text-decoration: none;
  color: var(--dark-purple);
  font-weight: 400;
}

.breadcrumb-container a:last-of-type {
  font-weight: 600;
}

.breadcrumb-separator {
  color: var(--dark-purple);
  margin: 0 0.3rem;
}