.error-container {
  text-align: center;
  padding: 2rem;
  background-color: #ffebee;
  border-radius: 0.5rem;
  margin: 1rem;
  font-weight: 500;
  color: #d32f2f;
}

.info-container {
  text-align: center;
  margin: 1rem;
  font-weight: 500;
  color: #666666;
}