@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import './styles/reset.css';

body {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
  --primary-color: #8200FF;
  --dark-purple: #69309b;
}